body {
  height: 100%;
}
a {
  color: #888;
}
#header {
  background-color: #fff;
}
a:hover {
  color: #222;
}
.nav-right {
  padding: 1.5%;
}
.nav-left {
  margin: 0 1%;
}
.navbar-toggler {
  margin-left: 2%;
}
#books-container {
  float: left;
  width: 100%;
  margin: 0 auto;
}
#books-container a {
  width: 15%;
  margin-top: 5%;
}
#books-container img {
  width: 300px;
  height: 460px;
}
#menu-content {
  display: none;
  margin: 6% 4%;
}
#menu-content li {
  margin-bottom: 4%;
}
.navbar-brand-icon {
  width: 160px;
  height: 20px;
}
@media (max-width: 768px) {
  #books-container a {
    width: 75%;
    height: 15%;
    margin: 3% 50%;
  }
  #menu-content li {
    margin: 6% 4%;
  }
  .navbar-brand-icon {
  width: 120px;
  height: 15px;
  }
}
.navbar-toggler-icon {
  width: 40px;
  height: 40px;
}
.navbar-button {
  width: 80px;
  height: 40px;
  background: transparent;
  border: 0;
}
.navbar-cart-icon {
  width: 25px;
  height: 25px;
}
/*BOOKS.html PAGE*/
.book-list-container{
  background-color: #888;
  border: solid;
  margin-bottom: 20px;
}
.book {
  border: solid #fff;
  background-color: #eee;
  overflow: hidden;
  margin: 0.5%;
  padding: 2%;
}
.book div {
  /*float: left;*/
  margin-left: 2%;
}
.book img {
  float: left;
  width: 200px;
  height: 307px;
  margin-right: 20px;
}
.book a {
  color: #666;
}
.book a:hover {
  color: #222;
  text-decoration: none;
}
.book-title {
  font-size: 170%;
}
.fitincorrectly {
  padding: 0 0 0 200px;
  position: absolute;
}
@media (max-width: 768px) {
  .mobile-centered.fitincorrectly {
    padding: 0 0 0 0;
    position: inherit;
    margin: auto;
  }
  .book img {
    display: block;
    float: none;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
  }
  .book div {
    margin-left: 0;
  }
  .mobile-centered {
    text-align: center;
  }
}
/*LOGIN.html PAGE*/
label {
  margin-top: 2%;
  margin-bottom: 1%;
}
.log-in-box {
  width: 50%;
  padding: 2%;
  margin-top: 5%;
  border: 1px solid #e8e9ea;
  background-color: #fdfdfd;
}
.register-box {
  width: 50%;
  padding: 2%;
  margin-top: 5%;
  border: 1px solid #e8e9ea;
  background-color: #fdfdfd;
}
.login-account-button {
  width: 350px;
  height: 40px;
  margin: 3%;
  background-color: Transparent;
  outline: none !important;
}
.create-account-button {
  width: 351px;
  height: 26px;
  margin: 3%;
}
button {
  border: none;
  outline: none;
}
.submit {
  text-align:center;
  margin:auto;
}
input {
  display: block;
  width: 100%;
}
.goes-right {
  float: right;
}
.smaller-font {
  font-size: 85%;
}
.error {
  border: 1px solid #dd6666;
}
@media (max-width: 768px) {
  .log-in-box {
    width: 75%;
    margin-top: 15%;
  }
  .register-box {
    width: 75%;
    margin-top: 15%;
  }
  .log-in-box input {
    border: 1px solid #c8c9ca;
  }
  .register-box input {
    border: 1px solid #c8c9ca;
  }
  .login-account-button {
    width: 248px;
    height: 32px;
  }
  .create-account-button {
    width: 248px;
    height: 22px;
  }
}
.checkbox {
  display: inline;
  width: auto;
}
hr {
  width: 20%;
}
/*AUTHORS.html PAGE*/
.author-list-container{
  background-color: #888;
  border: solid;
  margin-bottom: 20px;
}
.author {
  border: solid #fff;
  background-color: #eee;
  overflow: hidden;
  margin: 0.5%;
  padding: 2%;
}
.author div {
  float: left;
  margin-left: 2%;
}
.author img {
  float: left;
  width: 170px;
  height: 213px;
}
.author a {
  color: #666;
}
.author a:hover {
  color: #222;
  text-decoration: none;
}
.author-name {
  font-size: 200%;
}
@media (max-width: 768px) {
  .author img {
    display: block;
    float: none;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
  }
  .author div {
    float: none;
    margin-left: 0;
  }
  .mobile-centered {
    text-align: center;
  }
}
/*EVENTS.html PAGE*/
.event-list-container{
  background-color: #888;
  border: solid;
  margin-bottom: 20px;
}
.event {
  border: solid #fff;
  background-color: #eee;
  overflow: hidden;
  margin: 0.5%;
  padding: 2%;
}
.event div {
  margin-left: 2%;
}
.event img {
  display: block;
  width: 350px;
  height: 196px;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}
.event a {
  color: #666;
}
.event a:hover {
  color: #222;
  text-decoration: none;
}
.event-name {
  font-size: 150%;
}
.mobile-centered-event {
    text-align: center;
  }
@media (max-width: 768px) {
  .event img {
    width: 300px;
    height: 168px;
  }
  .event div {
    float: none;
    margin-left: 0;
  }
}
/*CART.html PAGE*/
.cart-list-header p {
  text-align: center;
}
.cart-list-container {
  width: 100%;
}
.item {
  clear: both;
  margin-bottom: 2%;
}
.item-img {
  float: left;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 0.5%;
}
.item-img img {
  width: 140px;
  height: 215px;
}
.item-essentials {
  width: 50%;
  float: left;
  margin-right: 10%;
}
.item-essentials a:hover {
  text-decoration: none;
}
.item-essentials-title {
  font-size: 140%;
  color: #666;
  margin-bottom: 6%;
}
.item-price {
  float: left;
  width: 10%;
  font-size: 120%;
}
.item-variations {
  float: left;
}
.plus-button {
  outline: none !important;
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2em;
  width: 2em;
  border-radius: 999px;
  position: relative;
  
  &:after,
  &:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }
}
.quantity {
  font-size: 120%;
}
.cart-list-checkout {
  clear: left;
}
.cart-list-conteiner:last-child .item-img {
  margin-bottom: 5%;
}
.checkoutBtn {
  width: 214px;
  height: 34px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13%;
  background-size: cover;
  background-image: url(/assets/img/buttons/proceed-to-check-out.png);
  border-radius: 20px;
}
@media (max-width: 768px) {
  .item img {
    width: 160px;
    height: 246px;
    margin-bottom: 2.5%;
  }
  .item div {
    float: none;
  }
  .mobile-centered {
    text-align: center;
    width: auto;
    margin-right: auto;
  }
  .item-variations {
    margin-bottom: 10%;
  }
}
/*BOOK.html PAGE*/
.addBtn {
  width: 120px;
  height: 38px;
  margin-top: 1%;
  background-size: cover;
  background-image: url(/assets/img/buttons/add-to-cart.png);
}
.particular-book {
  border: solid #fff;
  background-color: #eee;
  overflow: hidden;
  margin: 0.5%;
  padding: 2%;
}
.particular-book img {
  float: left;
  width: 250px;
  height: 382px;
  margin-right: 20px;
}
.particular-book a {
  color: #454545;
}
.particular-book a:hover {
  color: #151515;
  text-decoration: none;
}
.book-title {
  font-size: 170%;
}
.eventBookBtn {
  width: 80px;
  height: 34px;
  background-size: cover;
  background-image: url(/assets/img/buttons/book-event.png);
  border-radius: 20px;
}
.similarBookBtn {
  width: 142px;
  height: 34px;
  background-size: cover;
  background-image: url(/assets/img/buttons/see-similar-books.png);
  border-radius: 20px;
}
.abstract {
  font-size: 85%;
  line-height: 1.2em;
}
.imgSpace {
  height: 100%;
}
.bold-info {
  font-weight: bold;
}
.book-price {
  font-size: 120%;
}
.more-info {
  margin-top: 2%;
}@media (max-width: 768px) {
  .info {
    text-align: center;
  }
  .particular-book img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .addBtn {
    float: none;
    display: block;
    margin: 4% auto 8% auto;
  }
  .book-list-container {
    margin-bottom: 0;
  }
}
/*EVENT.html PAGE*/
.particular-event {
  border: solid #fff;
  background-color: #eee;
  overflow: hidden;
  margin: 0.5%;
  padding: 2%;
}
.event-title {
  display: block;
  font-weight: bold;
  color: #454545;
  font-size: 150%;
  margin-bottom: 4%;
}
.event-essentials img {
  float: left;
  margin-bottom: 4%;
}
.aside-bigger {
  font-size: 120%;
}
.aside {
  margin-left: 2%;
}
.aside-far {
  margin-top: 8%;
}
.bookAboutBtn {
  width: 214px;
  height: 34px;
  background-size: cover;
  background-image: url(/assets/img/buttons/see-more-information-about-the-book.png);
  border-radius: 20px;
}
.event-abstract {
  clear: left;
}